In [9]:
import sqlite3 as sq
import pandas as pd

https://wikidocs.net/5327

In [2]:
sqlite3.version

'2.6.0'

삼성전자 DB 생성 / 연결

In [ ]:
connect = sqlite3.connect("c:/Users/Jason/kospi.db")

데이터 조작을 위한 커서 생성

In [ ]:
 cursor = connect.cursor()

약간의 테스트를 해야겠다. 
구성이 데이터의 중복이 존재하는 DataFrame을 DB에 update하는 것인데. 중복되는 자료는 제외하고 append 해야한다.

In [5]:
connect.close()

In [7]:
conTest = sq.connect('test.db')

In [8]:
curTest = conTest.cursor()

In [65]:
temp = pd.DataFrame(columns=['close','volume'])
temp.index.name = 'date' 
temp.loc["2018-03-01"] = [10,20]
temp.to_sql('test', conTest, if_exists='append')

In [57]:
temp2 = pd.DataFrame(columns=['close','volume'])
temp2.index.name = 'date' 
temp2.loc["2018-03-02"] = [11,22]
temp2.to_sql('test', conTest, if_exists='append')

In [63]:
temp3 = pd.DataFrame(columns=['close','volume'])
temp3.index.name = 'date' 
temp3.loc["2018-03-02"] = [11,22]
temp3.loc["2018-03-03"] = [133,233]
temp3.to_sql('test', conTest, if_exists='append')

In [59]:
temp

           close volume
date
2018-03-01    10     20

In [51]:
temp.to_sql('test', conTest, if_exists='replace')

In [66]:
curTest.execute("SELECT * FROM test")
curTest.fetchall()

[('2018-03-01', 10, 20),
 ('2018-03-01', 10, 20),
 ('2018-03-02', 11, 22),
 ('2018-03-02', 11, 22),
 ('2018-03-03', 133, 233),
 ('2018-03-02', 11, 22),
 ('2018-03-03', 133, 233),
 ('2018-03-02', 11, 22),
 ('2018-03-03', 133, 233),
 ('2018-03-01', 10, 20)]

https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.to_sql.html

할 수 있는게 fail,replace,append  밖에 없네.
그러면 겹치는 건 제거하고 append를 해주는 수밖에 없는가. 
그러면
1. DF
2. DB

DB 에서 가장 최근 자료 시간을 받아서 그거 이전의 DF 를 다 지운 다음에 DB 에 넣도록 하면 되겠네

### 가장 최근 자료 인덱스[시간] 가져오기

curTest.description

### DF 에서 특정 시간 이전의 자료 지우기