In [1]:
import pandas as pd

In [6]:
data = pd.read_csv('삼성전자.csv',index_col='data')

In [8]:
data = data.sort_index()

In [9]:
data

                  close  volume
data
2019-11-19 11:54  53300    2812
2019-11-19 11:54  53200    2251
2019-11-19 11:55  53300    4656
2019-11-19 11:55  53200    2073
2019-11-19 11:56  53300    5524
...                 ...     ...
2019-11-22 9:57   51300    2198
2019-11-22 9:58   51300    5485
2019-11-22 9:58   51200    1884
2019-11-22 9:59   51300    1629
2019-11-22 9:59   51300    1924

[2700 rows x 2 columns]