In [1]:
a = [1,2,3]
b = [-1,-2,-3]

In [12]:
for i,j in enumerate(zip(a,b)):
    print(i)
    print(j[0])
    print(j[1])

0
1
-1
1
2
-2
2
3
-3

In [17]:
c = range(10)

In [52]:
import numpy as np
import pandas as pd

a = pd.Series(range(10))
a=a.ewm(span = 3).std()
display(a)

0         NaN
1    0.707107
2    0.963624
3    1.177164
4    1.345243
5    1.470916
6    1.560732
7    1.622460
8    1.663485
9    1.689977
dtype: float64

https://stackoverflow.com/questions/9750330/how-to-convert-integer-into-date-object-python/9750360#9750360

In [1]:
import datetime

In [2]:
a = 20190730151900

In [6]:
date = datetime.datetime.fromtimestamp(str(a))
date

TypeError: an integer is required (got type str)

In [5]:
s_datetime = datetime.datetime.strptime(str(a), '%Y%m%d%H%M%S')
s_datetime

datetime.datetime(2019, 7, 30, 15, 19)

In [8]:
import pandas as pd

In [20]:
temp_df = pd.DataFrame(columns=['close','volume'])
temp_df.index.name = 'date'
temp_df.loc[20170604121212]=[123,432]
temp_df.index  = temp_df.index.map(lambda x: pd.to_datetime(str(x), format='%Y%m%d%H%M%S'))

In [21]:
temp_df

                    close volume
date
2017-06-04 12:12:12   123    432