## 1. Symbol List 초기화 또는 불러오기

In [1]:
import SymbolList as sl

In [4]:
df = sl.init_symbol_DF()
sl.add_symbol(df,init=True)

DUP : Apple Inc.
DUP : Tesla, Inc.
DUP : Samsung Electronics Co., Ltd
DUP : Apple Inc.
DUP : Oracle Corporation
DUP : Amazon.com, Inc.
DUP : SK hynix, Inc.
DUP : NAVER Corporation
DUP : Microsoft Corporation
DUP : LG Electronics Inc
DUP : International Business Machines Corporation

In [5]:
df.head()

                                 Symbol        From          To
Name
Apple Inc.                         AAPL  2010-01-01  2010-01-01
Tesla, Inc.                        TSLA  2010-01-01  2010-01-01
Samsung Electronics Co., Ltd  005930.KS  2010-01-01  2010-01-01
Oracle Corporation                 ORCL  2010-01-01  2010-01-01
Amazon.com, Inc.                   AMZN  2010-01-01  2010-01-01

## 2.